@charset "UTF-8";

 @font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../font/symbols-nerds.eot?27841936");
  src: url("../font/symbols-nerds.eot?27841936#iefix") format("embedded-opentype"),
       url("../font/symbols-nerds.woff?27841936") format("woff"),
       url("../font/symbols-nerds.ttf?27841936") format("truetype"),
       url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-nerds";
    src: url("../font/symbols-nerds.svg?27841936#symbols-nerds") format("svg");
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  margin-right: .2em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  width: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  font-family: "symbols-nerds";
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  speak: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: "\62"; } /* "b" */
.icon-facebook:before { content: "\66"; } /* "f" */
.icon-twitter:before { content: "\74"; } /* "t" */
.icon-vk:before { content: "\76"; } /* "v" */
.icon-up-dir:before { content: "\25b2"; } /* "▲" */
.icon-down-dir:before { content: "\25bc"; } /* "▼" */
.icon-circle:before { content: "\25cb"; } /* "○" */
.icon-circle-dot:before { content: "\25cf"; } /* "●" */
.icon-check-off:before { content: "\2610"; } /* "☐" */
.icon-check-on:before { content: "\2611"; } /* "☑" */
.icon-instagramm:before { content: "📷"; } /* "\1f4f7" */

/* Стили */
body {
    margin: 0;
    padding: 0;
    min-width: 900px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}
.clearfix:after {
    display: table;
    clear: both;
    content: "";
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 880px;
}
.main-header {
    padding-top: 27px;
    width: 100%;
    background: #eee;
}
.header-menu {
    margin-bottom: 33px;
}
.logo {
    float: left;
    margin-right: 160px;
    width: 140px;
}
.logo img {
    width: 140px;
    height: 56px;
}
.main-navigation {
    float: left;
    font-size: 0;
}
.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-navigation li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 30px;
}
.main-navigation a {
    display: block;
    padding: 0 21px;
    padding-top: 27px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
.main-navigation a:hover {
    color: #fb565a;
}
.main-navigation a:active {
    color: #ababab;
}
.basket {
    float: right;
}
.basket a {
    display: inline-block;
    padding: 10px 0;
    padding-top: 25px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
}
.basket a:hover {
    color: #fb565a;
}
.basket a:active {
    color: #ababab;
}
.basket i {
    padding-right: 10px;
    color: #bdbdbd;
    font-size: 16px;
}
.basket:hover i {
    color: #fb565a;
}
.basket:active i {
    color: #d7d7d7;
}
.main-navigation .active-page a {
    position: relative;
}
.main-navigation .active-page a:after {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 2px;
    background: #fb565a;
    content: "";
}
.main-navigation .active-page a:hover {
    color: #000;
}
.slider {
    position: relative;
    margin: 0 auto;
    width: 880px;
    height: 310px;
}
.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    z-index: 1000;
    margin-left: -100px;
    width: 200px;
    height: 10px;
    text-align: center;
}
.slider-controls label {
    display: inline-block;
    margin: 0 3px;
    width: 4px;
    height: 4px;
    border: 3px solid white;
    border-radius: 50%;
    background: white;
    vertical-align: top;
    cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background: #c1c1c1;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.slide-text {
    padding: 30px 0;
    width: 470px;
    color: #283136;
}
.slide-text p {
    overflow: hidden;
    margin-bottom: 25px;
    max-height: 110px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.slide-title {
    overflow: hidden;
    margin-bottom: 20px;
    max-height: 76px;
    color: #000;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}
.slide:nth-child(1) {
    background-image: url("../img/bg-slide1.png");
    background-position: 100% 10px;
    background-repeat: no-repeat;
}
.slide:nth-child(2) {
    background-image: url("../img/bg-slide2.png");
    background-position: 100% 10px;
    background-repeat: no-repeat;
}
.slide:nth-child(3) {
    background-image: url("../img/bg-slide3.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
}
.slide {
    display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
.slide .btn {
    width: 160px;
}
.btn {
    display: inline-block;
    padding: 10px 40px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #fb565a;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 18px;
    cursor: pointer;
}
.btn:hover {
    background: #d6494d;
}
.btn:active {
    background: #b63538;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}

/* main */
.main-container{
    padding: 80px 10px;
}
.features {
    margin-bottom: 60px;
}
.features-item {
    float: left;
    margin-right: 80px;
    margin-bottom: 20px;
    padding-top: 147px;
    width: 240px;
    background: url("../img/sprites.png") no-repeat;
    color: #283136;
    font-size: 15px;
    line-height: 22px;
}
.features-item:nth-child(3n) {
    margin-right: 0;
}
.features-item h1 {
    margin: 0;
    margin-bottom: 15px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.features-item p {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
}
.item-web {
    width: 240px;
    background-position: -7px -6px;
}
.item-apps {
    width: 240px;
    background-position: -307px -6px;
}
.item-presentations {
    width: 240px;
    background-position: -604px -6px;
}
.btn-apps {
    background: #00ca74;
}
.btn-presentation {
    background: #efc84a;
}
.btn-apps:hover {
    background: #01a25e;
}
.btn-presentation:hover {
    background: #d6ae2c;
}
.btn-apps:active {
    background: #009053;
    box-shadow: inset 0 3px 0 0 #007b47;
}
.btn-presentation:active {
    background: #c09b24;
    box-shadow: inset 0 3px 0 0 #a3841f;
}

.info {
    margin-bottom: 2px;
    padding-top: 60px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    color: #283136;
}
.info h2 {
    margin: 0;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.slogan {
    float: left;
    width: 580px;
}
.slogan h1 {
    margin-top: 12px;
    margin-bottom: 16px;
    color: #000;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}
.slogan p {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.info-logo {
    float: right;
    vertical-align: top;
}
.info-content {
    margin-bottom: 46px;
}
.orders {
    float: left;
    width: 440px;
}
.how-work {
    float: right;
    width: 240px;
}
.info-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.info-content li {
    position: relative;
    margin-bottom: 25px;
    padding-left: 35px;
}
.info-content li:before {
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    content: "";
    background: #fb565a;
}
.partners {
    margin-bottom: 4px;
    padding: 42px 10px;
    padding-bottom: 0;
    padding-left: 23px;
    border-bottom: 2px solid #eee;
    font-size: 0;
}
.partners a {
    display: inline-block;
    margin-right: 118px;
    margin-bottom: 32px;
    vertical-align: middle;
    opacity: 0.2;
    font-size: 14px;
}
.partners a:nth-child(3) {
    margin-right: 0;
}
.partners a:nth-child(3n) {
    margin-right: 0;
}

.partners a:hover,
.partners a:active {
    opacity: 1;
}

.map-block {
    position: relative;
    height: 416px;
    background: url("../img/bg-map.png") center no-repeat;
}
.google-map {
    width: 100%;
    height: 416px;
}
.contacts {
    position: absolute;
    top: 88px;
    left: auto;
    padding: 0 22px;
    padding-top: 10px;
    width: 196px;
    background: #fff;
    text-align: left;
}
.contacts h3 {
    margin-bottom: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}
.contacts p {
    margin: 0;
    margin-bottom: 20px;
    color: #666;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.contacts .btn {
    margin-top: 8px;
    margin-bottom: 26px;
    width: 115px;
}

/* Shop */
.shop-container {
    padding: 75px 10px;
    padding-bottom: 80px;
}
.shop-title {
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 84px;
    width: 750px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
}
.filters {
    float: left;
    width: 240px;
}
.filters h2 {
    margin: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}
.range-filter {
    width: 240px;
    margin-bottom: 47px;
}

.range-filter h2 {
    margin-bottom: 12px;
}
.range-controls {
    position: relative;
    overflow: hidden;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 20px;
    border-radius: 5px;
    background: #f1f1f1;
}
.range-controls .scale {
    height: 2px;
    margin-top: 39px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 130px;
    height: 2px;
    margin-left: 20px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid white;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
    left: 160px;
}

.price-controls {
    text-transform: uppercase;
}
.price-controls input {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    width: 60px;
    margin-left: 6px;
    padding: 9px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
.price-controls .min-price {
    margin-right: 14px;
}
.price-controls {
    white-space: nowrap;
}
.filters ul {
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    color: #283136;
    list-style: none;
}
.filters-features ul {
    margin-bottom: 58px;
}
.filters li {
    margin-bottom: 20px;
}
input[type="checkbox"] {
    display: none;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    cursor: pointer;
}
input[type="radio"] + label:before {
    display: inline-block;
    margin-right: 12px;
    color: #c1c1c1;
    content: "\25cb";
    vertical-align: top;
    font-size: 28px;
    font-family: "symbols-nerds";
}
input[type="radio"]:checked + label:before {
    content: "\25cf";
}
input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
    color: #000;
}
input[type="radio"]:hover + label:before,
input[type="checkbox"]:hover + label:before {
    color: #b5b5b5;
}
input[type="radio"]:disabled + label:before,
input[type="checkbox"]:disabled + label:before {
    color: #eaeaea;
}
input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
    color: #bdbfc0;
}
input[type="checkbox"] + label {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    display: inline-block;
    margin-right: 14px;
    color: #c1c1c1;
    content: "\2610";
    vertical-align: top;
    font-size: 28px;
    font-family: "symbols-nerds";
}
input[type="checkbox"]:checked + label:before {
    margin-right: 10px;
    color: #c1c1c1;
    content: "\2611";
}
.filters .btn {
    width: 152px;
    background: #f1f1f1;
    color: #000;
    font-weight: 500;
}
.filters .btn:hover {
    background: #e5e5e5;
}
.filters .btn:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
}
.catalog {
    float: right;
    width: 560px;
}
.catalog-sorting {
    margin-bottom: 14px;
    padding-top: 4px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}
.sorting-title {
    float: left;
    margin-right: 37px;
    font-weight: 500;
}
.sorting-type {
    float: left;
    width: 350px;
    font-size: 0;
}
.sorting-type a {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-right: 44px;
    vertical-align: top;
    text-decoration: none;
    color: #cacaca;
    border-bottom: 1px dotted #00ca74;
}
.sorting-type a:hover {
    border-bottom: 1px solid #00ca74;
    color: #000;
}
.sorting-type a:active {
    border-bottom: none;
    color: #000;
}
.sorting-controls {
    float: right;
    width:50px;
    height: 25px;
    text-align: right;
    font-size: 0;
}
.sorting-controls a {
    display: inline-block;
    margin-right: -2px;
    width: 23px;
    height: 23px;
    vertical-align: top;
    font-size: 23px;
}
.sorting-controls i {
    width: 20px;
    color: #bdbdbd;
}
.sorting-controls a:hover i {
    color: #b5b5b5;
}
.sorting-controls a:active i {
    color: #000;
}
.sorting-controls:last-child i {
    margin-right: 0;
}
.sorting-controls i.active {
    color: #00ca74;
}
.catalog-items {
    font-size: 0;
}
.sorting-controls  a:before {
    color: #000;
}
.catalog-item {
    position: relative;
    display: inline-block;
    margin-right: 80px;
    margin-bottom: 80px;
    padding-top: 30px;
    width: 240px;
    background: url("../img/item-frame.png") no-repeat;
    background-position: -2px -6px;
    vertical-align: top;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}
.catalog-item:hover {
    background-position: -2px -56px;
}
.catalog-item img {
    width: 240px;
    height: 240px;
}
.catalog-item .item-price {
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 30px;
    padding-top: 34px;
    width: 140px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}
.item-price-title {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
}
.item-price p {
    margin-bottom: 30px;
    color: #283136;
}
.item-price .btn {
    padding: 10px 34px;
    font-size: 18px;
}
.catalog-item .item-price {
    display: none;
}
.catalog-item:hover .item-price {
    display: block;
}
.paginator {
    width: 298px;
    font-size: 0;
}
.paginator a,
.paginator span {
    display: inline-block;
    margin-right: 10px;
    padding: 0 10px;
    min-width: 18px;
    height: 38px;
    border-radius: 3px;
    background: #f1f1f1;
    color: #000;
    vertical-align: middle;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    line-height: 40px;
}
.paginator .next {
    padding: 0 30px;
}
.paginator .active {
    background: #fff;
    box-shadow: inset 0 0 0 2px #f2f2f2;
}
.paginator a:hover {
    background: #e5e5e5;
}
.paginator a:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
}
/* footer */
.footer-container {
    padding: 76px 10px;
}
.footer-social {
    float: left;
    width: 280px;
    font-size: 0;
}
.social-btn {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #e1e1e1;
    vertical-align: top;
    text-decoration: none;
    font-size: 16px;
}
.social-btn:hover {
    background: #fb565a;
}
.social-btn:active {
    background: #d6494d;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}
.social-btn i {
    position: absolute;
    top: 16px;
    left: 12px;
    color: #fff;
    font-size: 24px;
}
.social-btn .icon-instagramm {
    top: 15px;
    left: 13px;
}
.footer-offer {
    float: right;
    width: 560px;
}
.offer-title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}
.footer-offer p {
    margin: 0;
    color: #283136;
    font-size: 16px;
    line-height: 22px;
}
/* modal */
@keyframes bounce {
    0% {
        transform: translateX(-1000px);
    }
    70% {
        transform: translateX(30px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
@-webkit-keyframes bounce {
    0% {
        transform: translateX(-1000px);
    }
    70% {
        transform: translateX(30px);
    }
    90% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}
.modal-content {
    position: fixed;
    top: 0px;
    left: 50%;
    display: none;
    margin-top: 80px;
    margin-left: -325px;
    padding: 54px 80px;
    width: 470px;
    background: #fff;
    box-shadow: 0 0 80px -2px #000;
    color: #000;
}
.modal-content-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
.modal-content label {
    display: block;
    margin-bottom: 8px;
}
.modal-content input[type="text"],
.modal-content textarea {
    margin-right: 12px;
    padding: 10px 14px;
    width: 186px;
    outline: none;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
}
.modal-inputs {
    margin-bottom: 20px;
}
.inputs-name {
    float: left;
}
.inputs-email {
    float: right;
}
.modal-content textarea {
    margin-bottom: 44px;
    width: 430px;
    height: 90px;
}
.modal-content .btn {
    margin-right: 16px;
    margin-bottom: -4px;
    padding: 10px 0;
    width: 220px;
}
.modal-content .btn:last-child {
    margin-right: 0;
}
.cancel-btn {
    background: #f1f1f1;
    color: #000;
}
.cancel-btn:hover {
    background: #e5e5e5;
}
.cancel-btn:active {
    background: #d5d5d5;
    box-shadow: inset 0 3px 0 0 #b5b5b5;
}
.modal-content-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fb565a url("../img/close.png") no-repeat center;
    background-position: 10px 10px;
    font-size: 0;
    cursor: pointer;
}
.modal-content input:hover,
.modal-content textarea:hover {
    border-color: #a2a9ac;
}
.modal-content input:focus,
.modal-content textarea:focus {
    border-color: #56bffb;
}